<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2 Server</title>
</head>

<body>
    <h1 class="text-muted">PM2 Server</h1>
    <hr>
    <p>NODE.JS + Express Server 01</p>
</body>

</html>